<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>About Page</title>
</head>
<body>
    <section class="main-content">
        {{>header}}
        <img src="img/forecast.gif" class="weather-icon">
        <h2>Mission</h2>
        <p>To provide access to real-time weather data from millions of locations</p>
    </section>
    {{>footer}}
</body>
</html>