/* Put css stylsheets in our "public" folder directory because that is where we linked to from our app.js */

body {
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

.nav {
    margin-top: none;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
    width: 50%;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}

.card-container {
    display: flex;
    flex-direction: row;
}

.card {
    width: 40rem;
}

.help-icon {
    width: 256px;
    height: 256px;
    margin-bottom: 20px;
}

.weather-icon {
    margin: auto;
    display: flex;
    justify-content: center;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}
